[Unit]
Description=RBCAPP1 Service
Requires=httpd.service postgres.service rabbitmq.service
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/rbcapp1_service.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
